html {
   background-color: #dfb8df;            
}

#npadmin_menubar {
   margin-bottom: 10px;   
}

.menu_logout {
  float: right;
}

#main_body {
   margin: 20px;
   background-color: #FFFFFF; 
   padding: 15px;
   border: #000000 1px solid;
   height: 80%;
}

.page_title {
   font-size: 22px;
   font-weight: bold;
   margin-top: 5px;
   margin-bottom: 15px;
}

